src/main/mule/demoapi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b6bc82b0-29d2-4793-a505-f9fb45289847" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="keystore.jks" keyPassword="mule123" password="mule123"/>
			</tls:context>
		</http:listener-connection>
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="14b21618-a58d-46d1-852e-0f54de8bcb74" file="dev.yaml" />
	<flow name="demoapiFlow" doc:id="bd000e26-517a-4cab-9ad7-68354e6cef0a" >
		<http:listener doc:name="Listener" doc:id="5c6679a9-6d65-4d03-a15a-8e427e10c675" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value="Welcome to Mule 4" doc:name="Set Payload" doc:id="8add7a70-ef5f-45a6-9200-b3c11c1013c1" />
		<logger level="INFO" doc:name="Logger" doc:id="38726b66-860d-4e3b-83ec-4053874e6270" message="#[output application/json --- 'Hello to New Begineers']"/>
	</flow>
</mule>
